html {
    width: 100%;
    height: 100%;
}

body {
    width: 99%;
    height: 99%;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 20px;
    width: 80%;
    height: 99%;
    margin-left: auto;
    margin-right: auto;
}

.item2 {
    grid-column: col-start 8 / span 4;
    grid-row: 1 / 30;
    background-color: #3C4C59;
}

.item2 h1 {
    text-align: center;
    color: #fff;
}

/* Calculator Styles */
.calculator {
    grid-column: col-start 2 / span 2;
    grid-row: 1 / 30;
    border: 3px solid #ccc;
    background-color: #3C4C59;
    border-radius: 5px;
    width: 400px;
    height: 100%;
  }

  .calculator-screen {
    width: 92%;
    font-size: 5rem;
    margin-right: auto;
    margin-left: auto;
    height: 80px;
    background-color: #3C4C59;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    resize: none;
  }

  button {
    height: 81px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 3rem;
    color: white;
  }
  
  button:hover {
    background-color: #5c666e;
  }
  
  .operator {
    color: orange;
  }
  
  .all-clear {
    background-color: mediumseagreen;
    border-color: mediumseagreen;
    border-top-left-radius: 40.5px;
    border-top-right-radius: 40.5px;
    border-bottom-left-radius: 40.5px;
    border-bottom-right-radius: 40.5px;
    color: #fff;
    grid-area: 1 / 1 / 1 / 4;
  }
  
  .all-clear:hover {
    background-color: #9debc0;
  }

  .zero {
    grid-area: 5 / 1 / 5 / 3;
    border-top-left-radius: 40.5px;
    border-top-right-radius: 40.5px;
    border-bottom-left-radius: 40.5px;
    border-bottom-right-radius: 40.5px;
  }
  
  .equal-sign {
    background-color: orange;
    border-color: orange;
    color: #fff;
  }
  
  .equal-sign:hover {
    background-color: #fcc488;
  }
  
  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 500px;
    grid-gap: 10px;
    padding: 20px;
  }